Client/org.hyperpath.client.services/src/META-INF/wsdl/localhost_8080/CategoriesServices/CategoriesServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.hyperpath.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.hyperpath.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException" />

<xs:element name="RollbackFailureException" type="tns:RollbackFailureException" />

<xs:element name="addNewCategory" type="tns:addNewCategory" />

<xs:element name="addNewCategoryResponse" type="tns:addNewCategoryResponse" />

<xs:element name="ads" type="tns:ads" />

<xs:element name="advertisers" type="tns:advertisers" />

<xs:element name="categories" type="tns:categories" />

<xs:element name="countCategories" type="tns:countCategories" />

<xs:element name="countCategoriesResponse" type="tns:countCategoriesResponse" />

<xs:element name="deleteCategory" type="tns:deleteCategory" />

<xs:element name="deleteCategoryResponse" type="tns:deleteCategoryResponse" />

<xs:element name="entities" type="tns:entities" />

<xs:element name="findCategoriesByApproximateDescription" type="tns:findCategoriesByApproximateDescription" />

<xs:element name="findCategoriesByApproximateDescriptionResponse" type="tns:findCategoriesByApproximateDescriptionResponse" />

<xs:element name="findCategoriesByApproximateLabel" type="tns:findCategoriesByApproximateLabel" />

<xs:element name="findCategoriesByApproximateLabelResponse" type="tns:findCategoriesByApproximateLabelResponse" />

<xs:element name="findCategoriesByExactDescription" type="tns:findCategoriesByExactDescription" />

<xs:element name="findCategoriesByExactDescriptionResponse" type="tns:findCategoriesByExactDescriptionResponse" />

<xs:element name="findCategoryByExactLabel" type="tns:findCategoryByExactLabel" />

<xs:element name="findCategoryByExactLabelResponse" type="tns:findCategoryByExactLabelResponse" />

<xs:element name="findServiceByCategory" type="tns:findServiceByCategory" />

<xs:element name="findServiceByCategoryResponse" type="tns:findServiceByCategoryResponse" />

<xs:element name="gpslocation" type="tns:gpslocation" />

<xs:element name="listAllCategories" type="tns:listAllCategories" />

<xs:element name="listAllCategoriesResponse" type="tns:listAllCategoriesResponse" />

<xs:element name="openingHours" type="tns:openingHours" />

<xs:element name="services" type="tns:services" />

<xs:element name="updateCategory" type="tns:updateCategory" />

<xs:element name="updateCategoryResponse" type="tns:updateCategoryResponse" />

<xs:complexType name="addNewCategory">
<xs:sequence>
<xs:element name="category" type="tns:categories" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categories">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewCategoryResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listAllCategories">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listAllCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:categories" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RollbackFailureException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoryByExactLabel">
<xs:sequence>
<xs:element name="categoryLabel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoryByExactLabelResponse">
<xs:sequence>
<xs:element name="return" type="tns:categories" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findServiceByCategory">
<xs:sequence>
<xs:element name="categoryId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findServiceByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:services" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="services">
<xs:sequence>
<xs:element name="adsId" type="tns:ads" minOccurs="0" />
<xs:element name="category" type="tns:categories" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="gpslocationId" type="tns:gpslocation" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="openingHoursid" type="tns:openingHours" minOccurs="0" />
<xs:element name="rating" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ads">
<xs:sequence>
<xs:element name="advertisersId" type="tns:advertisers" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="shortDescription" type="xs:string" minOccurs="0" />
<xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="advertisers">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entities">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gpslocation">
<xs:sequence>
<xs:element name="altitude" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="latitude" type="xs:string" minOccurs="0" />
<xs:element name="longitude" type="xs:string" minOccurs="0" />
<xs:element name="time" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="openingHours">
<xs:sequence>
<xs:element name="closeTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="days" type="xs:int" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="openTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategory">
<xs:sequence>
<xs:element name="category" type="tns:categories" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCategoryResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findCategoriesByExactDescription">
<xs:sequence>
<xs:element name="categoryLabel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoriesByExactDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:categories" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCategory">
<xs:sequence>
<xs:element name="categoryId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCategoryResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findCategoriesByApproximateLabel">
<xs:sequence>
<xs:element name="categoryLabel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoriesByApproximateLabelResponse">
<xs:sequence>
<xs:element name="return" type="tns:categories" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoriesByApproximateDescription">
<xs:sequence>
<xs:element name="categoryLabel" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCategoriesByApproximateDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:categories" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="countCategories">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>