Client/org.hyperpath.client.services/src/META-INF/wsdl/localhost_8080/OpeningHoursServices/OpeningHoursServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="OpeningHoursServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/OpeningHoursServices/OpeningHoursServices?xsd=1" />
</xsd:schema>
</types>
<message name="addOpeningHours">
<part name="parameters" element="tns:addOpeningHours" />
</message>
<message name="addOpeningHoursResponse">
<part name="parameters" element="tns:addOpeningHoursResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="deleteOpeningHours">
<part name="parameters" element="tns:deleteOpeningHours" />
</message>
<message name="deleteOpeningHoursResponse">
<part name="parameters" element="tns:deleteOpeningHoursResponse" />
</message>
<message name="updateOpeningHours">
<part name="parameters" element="tns:updateOpeningHours" />
</message>
<message name="updateOpeningHoursResponse">
<part name="parameters" element="tns:updateOpeningHoursResponse" />
</message>
<portType name="OpeningHoursServices">
<operation name="addOpeningHours">
<input wsam:Action="http://services.hyperpath.org/OpeningHoursServices/addOpeningHoursRequest" message="tns:addOpeningHours" />
<output wsam:Action="http://services.hyperpath.org/OpeningHoursServices/addOpeningHoursResponse" message="tns:addOpeningHoursResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/addOpeningHours/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/addOpeningHours/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/addOpeningHours/Fault/RollbackFailureException" />
</operation>
<operation name="deleteOpeningHours">
<input wsam:Action="http://services.hyperpath.org/OpeningHoursServices/deleteOpeningHoursRequest" message="tns:deleteOpeningHours" />
<output wsam:Action="http://services.hyperpath.org/OpeningHoursServices/deleteOpeningHoursResponse" message="tns:deleteOpeningHoursResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/deleteOpeningHours/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/deleteOpeningHours/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/deleteOpeningHours/Fault/RollbackFailureException" />
</operation>
<operation name="updateOpeningHours">
<input wsam:Action="http://services.hyperpath.org/OpeningHoursServices/updateOpeningHoursRequest" message="tns:updateOpeningHours" />
<output wsam:Action="http://services.hyperpath.org/OpeningHoursServices/updateOpeningHoursResponse" message="tns:updateOpeningHoursResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/updateOpeningHours/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/updateOpeningHours/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/OpeningHoursServices/updateOpeningHours/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="OpeningHoursServicesPortBinding" type="tns:OpeningHoursServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addOpeningHours">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deleteOpeningHours">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updateOpeningHours">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="OpeningHoursServices">
<port name="OpeningHoursServicesPort" binding="tns:OpeningHoursServicesPortBinding">
<soap:address location="http://localhost:8080/OpeningHoursServices/OpeningHoursServices" />
</port>
</service>
</definitions>