Client/org.hyperpath.client.services.lib/META-INF/wsdl/localhost_8080/FaxesServices/FaxesServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.hyperpath.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.hyperpath.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException" />

<xs:element name="PreexistingEntityException" type="tns:PreexistingEntityException" />

<xs:element name="RollbackFailureException" type="tns:RollbackFailureException" />

<xs:element name="addFax" type="tns:addFax" />

<xs:element name="addFaxResponse" type="tns:addFaxResponse" />

<xs:element name="countFaxes" type="tns:countFaxes" />

<xs:element name="countFaxesResponse" type="tns:countFaxesResponse" />

<xs:element name="deleteFax" type="tns:deleteFax" />

<xs:element name="deleteFaxResponse" type="tns:deleteFaxResponse" />

<xs:element name="faxes" type="tns:faxes" />

<xs:element name="findAppoximateFax" type="tns:findAppoximateFax" />

<xs:element name="findAppoximateFaxResponse" type="tns:findAppoximateFaxResponse" />

<xs:element name="findExactFaxes" type="tns:findExactFaxes" />

<xs:element name="findExactFaxesResponse" type="tns:findExactFaxesResponse" />

<xs:element name="listAllFaxes" type="tns:listAllFaxes" />

<xs:element name="listAllFaxesResponse" type="tns:listAllFaxesResponse" />

<xs:element name="updateFax" type="tns:updateFax" />

<xs:element name="updateFaxResponse" type="tns:updateFaxResponse" />

<xs:complexType name="findAppoximateFax">
<xs:sequence>
<xs:element name="fax" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAppoximateFaxResponse">
<xs:sequence>
<xs:element name="return" type="tns:faxes" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="faxes">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="number" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RollbackFailureException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findExactFaxes">
<xs:sequence>
<xs:element name="fax" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findExactFaxesResponse">
<xs:sequence>
<xs:element name="return" type="tns:faxes" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="countFaxes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countFaxesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFax">
<xs:sequence>
<xs:element name="faxId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFaxResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listAllFaxes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listAllFaxesResponse">
<xs:sequence>
<xs:element name="return" type="tns:faxes" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addFax">
<xs:sequence>
<xs:element name="fax" type="tns:faxes" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addFaxResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="PreexistingEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFax">
<xs:sequence>
<xs:element name="fax" type="tns:faxes" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFaxResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>