Client/org.hyperpath.client.services/xml-resources/web-service-references/FaxesServices/wsdl/localhost_8080/FaxesServices/FaxesServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="FaxesServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/FaxesServices/FaxesServices?xsd=1" />
</xsd:schema>
</types>
<message name="listAllFaxes">
<part name="parameters" element="tns:listAllFaxes" />
</message>
<message name="listAllFaxesResponse">
<part name="parameters" element="tns:listAllFaxesResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="addFax">
<part name="parameters" element="tns:addFax" />
</message>
<message name="addFaxResponse">
<part name="parameters" element="tns:addFaxResponse" />
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException" />
</message>
<message name="updateFax">
<part name="parameters" element="tns:updateFax" />
</message>
<message name="updateFaxResponse">
<part name="parameters" element="tns:updateFaxResponse" />
</message>
<message name="deleteFax">
<part name="parameters" element="tns:deleteFax" />
</message>
<message name="deleteFaxResponse">
<part name="parameters" element="tns:deleteFaxResponse" />
</message>
<message name="findExactFaxes">
<part name="parameters" element="tns:findExactFaxes" />
</message>
<message name="findExactFaxesResponse">
<part name="parameters" element="tns:findExactFaxesResponse" />
</message>
<message name="findAppoximateFax">
<part name="parameters" element="tns:findAppoximateFax" />
</message>
<message name="findAppoximateFaxResponse">
<part name="parameters" element="tns:findAppoximateFaxResponse" />
</message>
<message name="countFaxes">
<part name="parameters" element="tns:countFaxes" />
</message>
<message name="countFaxesResponse">
<part name="parameters" element="tns:countFaxesResponse" />
</message>
<portType name="FaxesServices">
<operation name="listAllFaxes">
<input wsam:Action="http://services.hyperpath.org/FaxesServices/listAllFaxesRequest" message="tns:listAllFaxes" />
<output wsam:Action="http://services.hyperpath.org/FaxesServices/listAllFaxesResponse" message="tns:listAllFaxesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/FaxesServices/listAllFaxes/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/FaxesServices/listAllFaxes/Fault/RollbackFailureException" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/FaxesServices/listAllFaxes/Fault/NonexistentEntityException" />
</operation>
<operation name="addFax">
<input wsam:Action="http://services.hyperpath.org/FaxesServices/addFaxRequest" message="tns:addFax" />
<output wsam:Action="http://services.hyperpath.org/FaxesServices/addFaxResponse" message="tns:addFaxResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/FaxesServices/addFax/Fault/Exception" />
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://services.hyperpath.org/FaxesServices/addFax/Fault/PreexistingEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/FaxesServices/addFax/Fault/RollbackFailureException" />
</operation>
<operation name="updateFax">
<input wsam:Action="http://services.hyperpath.org/FaxesServices/updateFaxRequest" message="tns:updateFax" />
<output wsam:Action="http://services.hyperpath.org/FaxesServices/updateFaxResponse" message="tns:updateFaxResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/FaxesServices/updateFax/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/FaxesServices/updateFax/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/FaxesServices/updateFax/Fault/RollbackFailureException" />
</operation>
<operation name="deleteFax">
<input wsam:Action="http://services.hyperpath.org/FaxesServices/deleteFaxRequest" message="tns:deleteFax" />
<output wsam:Action="http://services.hyperpath.org/FaxesServices/deleteFaxResponse" message="tns:deleteFaxResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/FaxesServices/deleteFax/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/FaxesServices/deleteFax/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/FaxesServices/deleteFax/Fault/RollbackFailureException" />
</operation>
<operation name="findExactFaxes">
<input wsam:Action="http://services.hyperpath.org/FaxesServices/findExactFaxesRequest" message="tns:findExactFaxes" />
<output wsam:Action="http://services.hyperpath.org/FaxesServices/findExactFaxesResponse" message="tns:findExactFaxesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/FaxesServices/findExactFaxes/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/FaxesServices/findExactFaxes/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/FaxesServices/findExactFaxes/Fault/RollbackFailureException" />
</operation>
<operation name="findAppoximateFax">
<input wsam:Action="http://services.hyperpath.org/FaxesServices/findAppoximateFaxRequest" message="tns:findAppoximateFax" />
<output wsam:Action="http://services.hyperpath.org/FaxesServices/findAppoximateFaxResponse" message="tns:findAppoximateFaxResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/FaxesServices/findAppoximateFax/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/FaxesServices/findAppoximateFax/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/FaxesServices/findAppoximateFax/Fault/RollbackFailureException" />
</operation>
<operation name="countFaxes">
<input wsam:Action="http://services.hyperpath.org/FaxesServices/countFaxesRequest" message="tns:countFaxes" />
<output wsam:Action="http://services.hyperpath.org/FaxesServices/countFaxesResponse" message="tns:countFaxesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/FaxesServices/countFaxes/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/FaxesServices/countFaxes/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="FaxesServicesPortBinding" type="tns:FaxesServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listAllFaxes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
</operation>
<operation name="addFax">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updateFax">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deleteFax">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findExactFaxes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAppoximateFax">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="countFaxes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="FaxesServices">
<port name="FaxesServicesPort" binding="tns:FaxesServicesPortBinding">
<soap:address location="http://localhost:8080/FaxesServices/FaxesServices" />
</port>
</service>
</definitions>