Client/org.hyperpath.client.services.lib/META-INF/wsdl/localhost_8080/ReviewsServices/ReviewsServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.hyperpath.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.hyperpath.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException" />

<xs:element name="PreexistingEntityException" type="tns:PreexistingEntityException" />

<xs:element name="RollbackFailureException" type="tns:RollbackFailureException" />

<xs:element name="addReview" type="tns:addReview" />

<xs:element name="addReviewResponse" type="tns:addReviewResponse" />

<xs:element name="ads" type="tns:ads" />

<xs:element name="advertisers" type="tns:advertisers" />

<xs:element name="categories" type="tns:categories" />

<xs:element name="clients" type="tns:clients" />

<xs:element name="deleteReview" type="tns:deleteReview" />

<xs:element name="deleteReviewResponse" type="tns:deleteReviewResponse" />

<xs:element name="entities" type="tns:entities" />

<xs:element name="findReviewsByClient" type="tns:findReviewsByClient" />

<xs:element name="findReviewsByClientResponse" type="tns:findReviewsByClientResponse" />

<xs:element name="findReviewsByService" type="tns:findReviewsByService" />

<xs:element name="findReviewsByServiceResponse" type="tns:findReviewsByServiceResponse" />

<xs:element name="gpslocation" type="tns:gpslocation" />

<xs:element name="openingHours" type="tns:openingHours" />

<xs:element name="reviews" type="tns:reviews" />

<xs:element name="services" type="tns:services" />

<xs:element name="updateReview" type="tns:updateReview" />

<xs:element name="updateReviewResponse" type="tns:updateReviewResponse" />

<xs:complexType name="findReviewsByClient">
<xs:sequence>
<xs:element name="client" type="tns:clients" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="clients">
<xs:sequence>
<xs:element name="birthdate" type="xs:dateTime" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="gender" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entities">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReviewsByClientResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reviews">
<xs:sequence>
<xs:element name="clientsId" type="tns:clients" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="rating" type="xs:int" />
<xs:element name="servicesId" type="tns:services" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="services">
<xs:sequence>
<xs:element name="adsId" type="tns:ads" minOccurs="0" />
<xs:element name="category" type="tns:categories" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="gpslocationId" type="tns:gpslocation" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="openingHoursid" type="tns:openingHours" minOccurs="0" />
<xs:element name="rating" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ads">
<xs:sequence>
<xs:element name="advertisersId" type="tns:advertisers" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="shortDescription" type="xs:string" minOccurs="0" />
<xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="advertisers">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categories">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gpslocation">
<xs:sequence>
<xs:element name="altitude" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="latitude" type="xs:string" minOccurs="0" />
<xs:element name="longitude" type="xs:string" minOccurs="0" />
<xs:element name="time" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="openingHours">
<xs:sequence>
<xs:element name="closeTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="days" type="xs:int" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="openTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RollbackFailureException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateReview">
<xs:sequence>
<xs:element name="review" type="tns:reviews" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateReviewResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findReviewsByService">
<xs:sequence>
<xs:element name="serviceId" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findReviewsByServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:reviews" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReview">
<xs:sequence>
<xs:element name="review" type="tns:reviews" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReviewResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="PreexistingEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteReview">
<xs:sequence>
<xs:element name="reviewId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteReviewResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>