Client/org.hyperpath.client.services/src/META-INF/wsdl/localhost_8080/ReviewsServices/ReviewsServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="ReviewsServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/ReviewsServices/ReviewsServices?xsd=1" />
</xsd:schema>
</types>
<message name="addReview">
<part name="parameters" element="tns:addReview" />
</message>
<message name="addReviewResponse">
<part name="parameters" element="tns:addReviewResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="updateReview">
<part name="parameters" element="tns:updateReview" />
</message>
<message name="updateReviewResponse">
<part name="parameters" element="tns:updateReviewResponse" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="deleteReview">
<part name="parameters" element="tns:deleteReview" />
</message>
<message name="deleteReviewResponse">
<part name="parameters" element="tns:deleteReviewResponse" />
</message>
<message name="findReviewsByService">
<part name="parameters" element="tns:findReviewsByService" />
</message>
<message name="findReviewsByServiceResponse">
<part name="parameters" element="tns:findReviewsByServiceResponse" />
</message>
<message name="findReviewsByClient">
<part name="parameters" element="tns:findReviewsByClient" />
</message>
<message name="findReviewsByClientResponse">
<part name="parameters" element="tns:findReviewsByClientResponse" />
</message>
<portType name="ReviewsServices">
<operation name="addReview">
<input wsam:Action="http://services.hyperpath.org/ReviewsServices/addReviewRequest" message="tns:addReview" />
<output wsam:Action="http://services.hyperpath.org/ReviewsServices/addReviewResponse" message="tns:addReviewResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ReviewsServices/addReview/Fault/Exception" />
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://services.hyperpath.org/ReviewsServices/addReview/Fault/PreexistingEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ReviewsServices/addReview/Fault/RollbackFailureException" />
</operation>
<operation name="updateReview">
<input wsam:Action="http://services.hyperpath.org/ReviewsServices/updateReviewRequest" message="tns:updateReview" />
<output wsam:Action="http://services.hyperpath.org/ReviewsServices/updateReviewResponse" message="tns:updateReviewResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ReviewsServices/updateReview/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ReviewsServices/updateReview/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ReviewsServices/updateReview/Fault/RollbackFailureException" />
</operation>
<operation name="deleteReview">
<input wsam:Action="http://services.hyperpath.org/ReviewsServices/deleteReviewRequest" message="tns:deleteReview" />
<output wsam:Action="http://services.hyperpath.org/ReviewsServices/deleteReviewResponse" message="tns:deleteReviewResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ReviewsServices/deleteReview/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ReviewsServices/deleteReview/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ReviewsServices/deleteReview/Fault/RollbackFailureException" />
</operation>
<operation name="findReviewsByService">
<input wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByServiceRequest" message="tns:findReviewsByService" />
<output wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByServiceResponse" message="tns:findReviewsByServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByService/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByService/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByService/Fault/RollbackFailureException" />
</operation>
<operation name="findReviewsByClient">
<input wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByClientRequest" message="tns:findReviewsByClient" />
<output wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByClientResponse" message="tns:findReviewsByClientResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByClient/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByClient/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ReviewsServices/findReviewsByClient/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="ReviewsServicesPortBinding" type="tns:ReviewsServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addReview">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updateReview">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deleteReview">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findReviewsByService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findReviewsByClient">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="ReviewsServices">
<port name="ReviewsServicesPort" binding="tns:ReviewsServicesPortBinding">
<soap:address location="http://localhost:8080/ReviewsServices/ReviewsServices" />
</port>
</service>
</definitions>