Client/org.hyperpath.client.services/xml-resources/web-service-references/CategoriesServices/wsdl/localhost_8080/CategoriesServices/CategoriesServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="CategoriesServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/CategoriesServices/CategoriesServices?xsd=1" />
</xsd:schema>
</types>
<message name="countCategories">
<part name="parameters" element="tns:countCategories" />
</message>
<message name="countCategoriesResponse">
<part name="parameters" element="tns:countCategoriesResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="updateCategory">
<part name="parameters" element="tns:updateCategory" />
</message>
<message name="updateCategoryResponse">
<part name="parameters" element="tns:updateCategoryResponse" />
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory" />
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse" />
</message>
<message name="findCategoryByExactLabel">
<part name="parameters" element="tns:findCategoryByExactLabel" />
</message>
<message name="findCategoryByExactLabelResponse">
<part name="parameters" element="tns:findCategoryByExactLabelResponse" />
</message>
<message name="findCategoriesByApproximateLabel">
<part name="parameters" element="tns:findCategoriesByApproximateLabel" />
</message>
<message name="findCategoriesByApproximateLabelResponse">
<part name="parameters" element="tns:findCategoriesByApproximateLabelResponse" />
</message>
<message name="findCategoriesByExactDescription">
<part name="parameters" element="tns:findCategoriesByExactDescription" />
</message>
<message name="findCategoriesByExactDescriptionResponse">
<part name="parameters" element="tns:findCategoriesByExactDescriptionResponse" />
</message>
<message name="findCategoriesByApproximateDescription">
<part name="parameters" element="tns:findCategoriesByApproximateDescription" />
</message>
<message name="findCategoriesByApproximateDescriptionResponse">
<part name="parameters" element="tns:findCategoriesByApproximateDescriptionResponse" />
</message>
<message name="listAllCategories">
<part name="parameters" element="tns:listAllCategories" />
</message>
<message name="listAllCategoriesResponse">
<part name="parameters" element="tns:listAllCategoriesResponse" />
</message>
<message name="findServiceByCategory">
<part name="parameters" element="tns:findServiceByCategory" />
</message>
<message name="findServiceByCategoryResponse">
<part name="parameters" element="tns:findServiceByCategoryResponse" />
</message>
<message name="addNewCategory">
<part name="parameters" element="tns:addNewCategory" />
</message>
<message name="addNewCategoryResponse">
<part name="parameters" element="tns:addNewCategoryResponse" />
</message>
<portType name="CategoriesServices">
<operation name="countCategories">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/countCategoriesRequest" message="tns:countCategories" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/countCategoriesResponse" message="tns:countCategoriesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/countCategories/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/countCategories/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/countCategories/Fault/RollbackFailureException" />
</operation>
<operation name="updateCategory">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/updateCategoryRequest" message="tns:updateCategory" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/updateCategoryResponse" message="tns:updateCategoryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/updateCategory/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/updateCategory/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/updateCategory/Fault/RollbackFailureException" />
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/deleteCategoryRequest" message="tns:deleteCategory" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/deleteCategoryResponse" message="tns:deleteCategoryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/deleteCategory/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/deleteCategory/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/deleteCategory/Fault/RollbackFailureException" />
</operation>
<operation name="findCategoryByExactLabel">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoryByExactLabelRequest" message="tns:findCategoryByExactLabel" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoryByExactLabelResponse" message="tns:findCategoryByExactLabelResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoryByExactLabel/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoryByExactLabel/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoryByExactLabel/Fault/RollbackFailureException" />
</operation>
<operation name="findCategoriesByApproximateLabel">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateLabelRequest" message="tns:findCategoriesByApproximateLabel" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateLabelResponse" message="tns:findCategoriesByApproximateLabelResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateLabel/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateLabel/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateLabel/Fault/RollbackFailureException" />
</operation>
<operation name="findCategoriesByExactDescription">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByExactDescriptionRequest" message="tns:findCategoriesByExactDescription" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByExactDescriptionResponse" message="tns:findCategoriesByExactDescriptionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByExactDescription/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByExactDescription/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByExactDescription/Fault/RollbackFailureException" />
</operation>
<operation name="findCategoriesByApproximateDescription">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateDescriptionRequest" message="tns:findCategoriesByApproximateDescription" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateDescriptionResponse" message="tns:findCategoriesByApproximateDescriptionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateDescription/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateDescription/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/findCategoriesByApproximateDescription/Fault/RollbackFailureException" />
</operation>
<operation name="listAllCategories">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/listAllCategoriesRequest" message="tns:listAllCategories" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/listAllCategoriesResponse" message="tns:listAllCategoriesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/listAllCategories/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/CategoriesServices/listAllCategories/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/CategoriesServices/listAllCategories/Fault/RollbackFailureException" />
</operation>
<operation name="findServiceByCategory">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/findServiceByCategoryRequest" message="tns:findServiceByCategory" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/findServiceByCategoryResponse" message="tns:findServiceByCategoryResponse" />
</operation>
<operation name="addNewCategory">
<input wsam:Action="http://services.hyperpath.org/CategoriesServices/addNewCategoryRequest" message="tns:addNewCategory" />
<output wsam:Action="http://services.hyperpath.org/CategoriesServices/addNewCategoryResponse" message="tns:addNewCategoryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/CategoriesServices/addNewCategory/Fault/Exception" />
</operation>
</portType>
<binding name="CategoriesServicesPortBinding" type="tns:CategoriesServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="countCategories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updateCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findCategoryByExactLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findCategoriesByApproximateLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findCategoriesByExactDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findCategoriesByApproximateDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="listAllCategories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServiceByCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addNewCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="CategoriesServices">
<port name="CategoriesServicesPort" binding="tns:CategoriesServicesPortBinding">
<soap:address location="http://localhost:8080/CategoriesServices/CategoriesServices" />
</port>
</service>
</definitions>