Client/org.hyperpath.client.services/src/META-INF/wsdl/localhost_8080/AdvertisersServices/AdvertisersServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.hyperpath.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.hyperpath.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException" />

<xs:element name="PreexistingEntityException" type="tns:PreexistingEntityException" />

<xs:element name="RollbackFailureException" type="tns:RollbackFailureException" />

<xs:element name="addAdvertizer" type="tns:addAdvertizer" />

<xs:element name="addAdvertizerResponse" type="tns:addAdvertizerResponse" />

<xs:element name="address" type="tns:address" />

<xs:element name="advertisers" type="tns:advertisers" />

<xs:element name="deleteAdvertiser" type="tns:deleteAdvertiser" />

<xs:element name="deleteAdvertiserResponse" type="tns:deleteAdvertiserResponse" />

<xs:element name="entities" type="tns:entities" />

<xs:element name="findAdvertiserByAd" type="tns:findAdvertiserByAd" />

<xs:element name="findAdvertiserByAdResponse" type="tns:findAdvertiserByAdResponse" />

<xs:element name="findAdvertisersByAddress" type="tns:findAdvertisersByAddress" />

<xs:element name="findAdvertisersByAddressResponse" type="tns:findAdvertisersByAddressResponse" />

<xs:element name="findAdvertisersByFax" type="tns:findAdvertisersByFax" />

<xs:element name="findAdvertisersByFaxResponse" type="tns:findAdvertisersByFaxResponse" />

<xs:element name="findAdvertisersByMail" type="tns:findAdvertisersByMail" />

<xs:element name="findAdvertisersByMailResponse" type="tns:findAdvertisersByMailResponse" />

<xs:element name="findAdvertisersByPhone" type="tns:findAdvertisersByPhone" />

<xs:element name="findAdvertisersByPhoneResponse" type="tns:findAdvertisersByPhoneResponse" />

<xs:element name="updateAdvertiser" type="tns:updateAdvertiser" />

<xs:element name="updateAdvertiserResponse" type="tns:updateAdvertiserResponse" />

<xs:complexType name="findAdvertisersByPhone">
<xs:sequence>
<xs:element name="phone" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertisersByPhoneResponse">
<xs:sequence>
<xs:element name="return" type="tns:advertisers" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="advertisers">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entities">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RollbackFailureException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdvertiser">
<xs:sequence>
<xs:element name="advertiser" type="tns:advertisers" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdvertiserResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="addAdvertizer">
<xs:sequence>
<xs:element name="newAdvertizer" type="tns:advertisers" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAdvertizerResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="PreexistingEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertisersByMail">
<xs:sequence>
<xs:element name="mail" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertisersByMailResponse">
<xs:sequence>
<xs:element name="return" type="tns:advertisers" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdvertiser">
<xs:sequence>
<xs:element name="advertiserId" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdvertiserResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findAdvertisersByFax">
<xs:sequence>
<xs:element name="fax" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertisersByFaxResponse">
<xs:sequence>
<xs:element name="return" type="tns:advertisers" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertiserByAd">
<xs:sequence>
<xs:element name="ad" type="tns:advertisers" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertiserByAdResponse">
<xs:sequence>
<xs:element name="return" type="tns:advertisers" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertisersByAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="country" type="xs:string" minOccurs="0" />
<xs:element name="department" type="xs:string" minOccurs="0" />
<xs:element name="ext" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="street" type="xs:string" minOccurs="0" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertisersByAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:advertisers" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>