Client/org.hyperpath.client.services/src/META-INF/wsdl/localhost_8080/ServicesServices/ServicesServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="ServicesServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/ServicesServices/ServicesServices?xsd=1" />
</xsd:schema>
</types>
<message name="countCategories">
<part name="parameters" element="tns:countCategories" />
</message>
<message name="countCategoriesResponse">
<part name="parameters" element="tns:countCategoriesResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="findServicesByAddress">
<part name="parameters" element="tns:findServicesByAddress" />
</message>
<message name="findServicesByAddressResponse">
<part name="parameters" element="tns:findServicesByAddressResponse" />
</message>
<message name="addService">
<part name="parameters" element="tns:addService" />
</message>
<message name="addServiceResponse">
<part name="parameters" element="tns:addServiceResponse" />
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException" />
</message>
<message name="updateService">
<part name="parameters" element="tns:updateService" />
</message>
<message name="updateServiceResponse">
<part name="parameters" element="tns:updateServiceResponse" />
</message>
<message name="deleteService">
<part name="parameters" element="tns:deleteService" />
</message>
<message name="deleteServiceResponse">
<part name="parameters" element="tns:deleteServiceResponse" />
</message>
<message name="findServicesByLabel">
<part name="parameters" element="tns:findServicesByLabel" />
</message>
<message name="findServicesByLabelResponse">
<part name="parameters" element="tns:findServicesByLabelResponse" />
</message>
<message name="findServicesByCategory">
<part name="parameters" element="tns:findServicesByCategory" />
</message>
<message name="findServicesByCategoryResponse">
<part name="parameters" element="tns:findServicesByCategoryResponse" />
</message>
<message name="findServicesByGpsLocation">
<part name="parameters" element="tns:findServicesByGpsLocation" />
</message>
<message name="findServicesByGpsLocationResponse">
<part name="parameters" element="tns:findServicesByGpsLocationResponse" />
</message>
<message name="findServiceByRating">
<part name="parameters" element="tns:findServiceByRating" />
</message>
<message name="findServiceByRatingResponse">
<part name="parameters" element="tns:findServiceByRatingResponse" />
</message>
<message name="findServicesByUser">
<part name="parameters" element="tns:findServicesByUser" />
</message>
<message name="findServicesByUserResponse">
<part name="parameters" element="tns:findServicesByUserResponse" />
</message>
<message name="findServicesPhone">
<part name="parameters" element="tns:findServicesPhone" />
</message>
<message name="findServicesPhoneResponse">
<part name="parameters" element="tns:findServicesPhoneResponse" />
</message>
<message name="findServicesByFax">
<part name="parameters" element="tns:findServicesByFax" />
</message>
<message name="findServicesByFaxResponse">
<part name="parameters" element="tns:findServicesByFaxResponse" />
</message>
<message name="findServicesByMail">
<part name="parameters" element="tns:findServicesByMail" />
</message>
<message name="findServicesByMailResponse">
<part name="parameters" element="tns:findServicesByMailResponse" />
</message>
<message name="findServicesByOpeningTime">
<part name="parameters" element="tns:findServicesByOpeningTime" />
</message>
<message name="findServicesByOpeningTimeResponse">
<part name="parameters" element="tns:findServicesByOpeningTimeResponse" />
</message>
<message name="findServicesByClosingTime">
<part name="parameters" element="tns:findServicesByClosingTime" />
</message>
<message name="findServicesByClosingTimeResponse">
<part name="parameters" element="tns:findServicesByClosingTimeResponse" />
</message>
<message name="findServicesByTimeRange">
<part name="parameters" element="tns:findServicesByTimeRange" />
</message>
<message name="findServicesByTimeRangeResponse">
<part name="parameters" element="tns:findServicesByTimeRangeResponse" />
</message>
<message name="listAllServices">
<part name="parameters" element="tns:listAllServices" />
</message>
<message name="listAllServicesResponse">
<part name="parameters" element="tns:listAllServicesResponse" />
</message>
<portType name="ServicesServices">
<operation name="countCategories">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/countCategoriesRequest" message="tns:countCategories" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/countCategoriesResponse" message="tns:countCategoriesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/countCategories/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/countCategories/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/countCategories/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByAddress">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByAddressRequest" message="tns:findServicesByAddress" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByAddressResponse" message="tns:findServicesByAddressResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByAddress/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByAddress/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByAddress/Fault/RollbackFailureException" />
</operation>
<operation name="addService">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/addServiceRequest" message="tns:addService" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/addServiceResponse" message="tns:addServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/addService/Fault/Exception" />
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/addService/Fault/PreexistingEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/addService/Fault/RollbackFailureException" />
</operation>
<operation name="updateService">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/updateServiceRequest" message="tns:updateService" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/updateServiceResponse" message="tns:updateServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/updateService/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/updateService/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/updateService/Fault/RollbackFailureException" />
</operation>
<operation name="deleteService">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/deleteServiceRequest" message="tns:deleteService" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/deleteServiceResponse" message="tns:deleteServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/deleteService/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/deleteService/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/deleteService/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByLabel">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByLabelRequest" message="tns:findServicesByLabel" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByLabelResponse" message="tns:findServicesByLabelResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByLabel/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByLabel/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByLabel/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByCategory">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByCategoryRequest" message="tns:findServicesByCategory" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByCategoryResponse" message="tns:findServicesByCategoryResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByCategory/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByCategory/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByCategory/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByGpsLocation">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByGpsLocationRequest" message="tns:findServicesByGpsLocation" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByGpsLocationResponse" message="tns:findServicesByGpsLocationResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByGpsLocation/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByGpsLocation/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByGpsLocation/Fault/RollbackFailureException" />
</operation>
<operation name="findServiceByRating">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServiceByRatingRequest" message="tns:findServiceByRating" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServiceByRatingResponse" message="tns:findServiceByRatingResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServiceByRating/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServiceByRating/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServiceByRating/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByUser">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByUserRequest" message="tns:findServicesByUser" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByUserResponse" message="tns:findServicesByUserResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByUser/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByUser/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByUser/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesPhone">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesPhoneRequest" message="tns:findServicesPhone" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesPhoneResponse" message="tns:findServicesPhoneResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesPhone/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesPhone/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesPhone/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByFax">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByFaxRequest" message="tns:findServicesByFax" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByFaxResponse" message="tns:findServicesByFaxResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByFax/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByFax/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByFax/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByMail">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByMailRequest" message="tns:findServicesByMail" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByMailResponse" message="tns:findServicesByMailResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByMail/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByMail/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByMail/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByOpeningTime">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByOpeningTimeRequest" message="tns:findServicesByOpeningTime" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByOpeningTimeResponse" message="tns:findServicesByOpeningTimeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByOpeningTime/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByOpeningTime/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByOpeningTime/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByClosingTime">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByClosingTimeRequest" message="tns:findServicesByClosingTime" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByClosingTimeResponse" message="tns:findServicesByClosingTimeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByClosingTime/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByClosingTime/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByClosingTime/Fault/RollbackFailureException" />
</operation>
<operation name="findServicesByTimeRange">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByTimeRangeRequest" message="tns:findServicesByTimeRange" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByTimeRangeResponse" message="tns:findServicesByTimeRangeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByTimeRange/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByTimeRange/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/findServicesByTimeRange/Fault/RollbackFailureException" />
</operation>
<operation name="listAllServices">
<input wsam:Action="http://services.hyperpath.org/ServicesServices/listAllServicesRequest" message="tns:listAllServices" />
<output wsam:Action="http://services.hyperpath.org/ServicesServices/listAllServicesResponse" message="tns:listAllServicesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ServicesServices/listAllServices/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ServicesServices/listAllServices/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ServicesServices/listAllServices/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="ServicesServicesPortBinding" type="tns:ServicesServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="countCategories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="addService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updateService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deleteService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByCategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByGpsLocation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServiceByRating">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesPhone">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByFax">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByMail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByOpeningTime">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByClosingTime">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findServicesByTimeRange">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="listAllServices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="ServicesServices">
<port name="ServicesServicesPort" binding="tns:ServicesServicesPortBinding">
<soap:address location="http://localhost:8080/ServicesServices/ServicesServices" />
</port>
</service>
</definitions>