Client/org.hyperpath.client.services/xml-resources/web-service-references/AdsServices/wsdl/localhost_8080/AdsServices/AdsServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="AdsServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/AdsServices/AdsServices?xsd=1" />
</xsd:schema>
</types>
<message name="findAdsById">
<part name="parameters" element="tns:findAdsById" />
</message>
<message name="findAdsByIdResponse">
<part name="parameters" element="tns:findAdsByIdResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="findAdsByAdvertiser">
<part name="parameters" element="tns:findAdsByAdvertiser" />
</message>
<message name="findAdsByAdvertiserResponse">
<part name="parameters" element="tns:findAdsByAdvertiserResponse" />
</message>
<message name="findAdsByService">
<part name="parameters" element="tns:findAdsByService" />
</message>
<message name="findAdsByServiceResponse">
<part name="parameters" element="tns:findAdsByServiceResponse" />
</message>
<message name="addAds">
<part name="parameters" element="tns:addAds" />
</message>
<message name="addAdsResponse">
<part name="parameters" element="tns:addAdsResponse" />
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException" />
</message>
<message name="updateAds">
<part name="parameters" element="tns:updateAds" />
</message>
<message name="updateAdsResponse">
<part name="parameters" element="tns:updateAdsResponse" />
</message>
<message name="deleteAds">
<part name="parameters" element="tns:deleteAds" />
</message>
<message name="deleteAdsResponse">
<part name="parameters" element="tns:deleteAdsResponse" />
</message>
<message name="findAdsByStartDate">
<part name="parameters" element="tns:findAdsByStartDate" />
</message>
<message name="findAdsByStartDateResponse">
<part name="parameters" element="tns:findAdsByStartDateResponse" />
</message>
<message name="findAdsByEndDate">
<part name="parameters" element="tns:findAdsByEndDate" />
</message>
<message name="findAdsByEndDateResponse">
<part name="parameters" element="tns:findAdsByEndDateResponse" />
</message>
<message name="findAdsInBetween">
<part name="parameters" element="tns:findAdsInBetween" />
</message>
<message name="findAdsInBetweenResponse">
<part name="parameters" element="tns:findAdsInBetweenResponse" />
</message>
<message name="listAllAds">
<part name="parameters" element="tns:listAllAds" />
</message>
<message name="listAllAdsResponse">
<part name="parameters" element="tns:listAllAdsResponse" />
</message>
<message name="countAds">
<part name="parameters" element="tns:countAds" />
</message>
<message name="countAdsResponse">
<part name="parameters" element="tns:countAdsResponse" />
</message>
<message name="findAdsByExactDescription">
<part name="parameters" element="tns:findAdsByExactDescription" />
</message>
<message name="findAdsByExactDescriptionResponse">
<part name="parameters" element="tns:findAdsByExactDescriptionResponse" />
</message>
<message name="findAdsByExactShortDescription">
<part name="parameters" element="tns:findAdsByExactShortDescription" />
</message>
<message name="findAdsByExactShortDescriptionResponse">
<part name="parameters" element="tns:findAdsByExactShortDescriptionResponse" />
</message>
<message name="findAdsByApproximateDescription">
<part name="parameters" element="tns:findAdsByApproximateDescription" />
</message>
<message name="findAdsByApproximateDescriptionResponse">
<part name="parameters" element="tns:findAdsByApproximateDescriptionResponse" />
</message>
<message name="findAdsByApproximateShortDescription">
<part name="parameters" element="tns:findAdsByApproximateShortDescription" />
</message>
<message name="findAdsByApproximateShortDescriptionResponse">
<part name="parameters" element="tns:findAdsByApproximateShortDescriptionResponse" />
</message>
<portType name="AdsServices">
<operation name="findAdsById">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByIdRequest" message="tns:findAdsById" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByIdResponse" message="tns:findAdsByIdResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsById/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsById/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsById/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsByAdvertiser">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByAdvertiserRequest" message="tns:findAdsByAdvertiser" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByAdvertiserResponse" message="tns:findAdsByAdvertiserResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByAdvertiser/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByAdvertiser/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByAdvertiser/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsByService">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByServiceRequest" message="tns:findAdsByService" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByServiceResponse" message="tns:findAdsByServiceResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByService/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByService/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByService/Fault/RollbackFailureException" />
</operation>
<operation name="addAds">
<input wsam:Action="http://services.hyperpath.org/AdsServices/addAdsRequest" message="tns:addAds" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/addAdsResponse" message="tns:addAdsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/addAds/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/addAds/Fault/RollbackFailureException" />
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/addAds/Fault/PreexistingEntityException" />
</operation>
<operation name="updateAds">
<input wsam:Action="http://services.hyperpath.org/AdsServices/updateAdsRequest" message="tns:updateAds" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/updateAdsResponse" message="tns:updateAdsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/updateAds/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/updateAds/Fault/RollbackFailureException" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/updateAds/Fault/NonexistentEntityException" />
</operation>
<operation name="deleteAds">
<input wsam:Action="http://services.hyperpath.org/AdsServices/deleteAdsRequest" message="tns:deleteAds" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/deleteAdsResponse" message="tns:deleteAdsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/deleteAds/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/deleteAds/Fault/RollbackFailureException" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/deleteAds/Fault/NonexistentEntityException" />
</operation>
<operation name="findAdsByStartDate">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByStartDateRequest" message="tns:findAdsByStartDate" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByStartDateResponse" message="tns:findAdsByStartDateResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByStartDate/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByStartDate/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByStartDate/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsByEndDate">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByEndDateRequest" message="tns:findAdsByEndDate" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByEndDateResponse" message="tns:findAdsByEndDateResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByEndDate/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByEndDate/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByEndDate/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsInBetween">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsInBetweenRequest" message="tns:findAdsInBetween" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsInBetweenResponse" message="tns:findAdsInBetweenResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsInBetween/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsInBetween/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsInBetween/Fault/RollbackFailureException" />
</operation>
<operation name="listAllAds">
<input wsam:Action="http://services.hyperpath.org/AdsServices/listAllAdsRequest" message="tns:listAllAds" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/listAllAdsResponse" message="tns:listAllAdsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/listAllAds/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/listAllAds/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/listAllAds/Fault/RollbackFailureException" />
</operation>
<operation name="countAds">
<input wsam:Action="http://services.hyperpath.org/AdsServices/countAdsRequest" message="tns:countAds" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/countAdsResponse" message="tns:countAdsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/countAds/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/countAds/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/countAds/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsByExactDescription">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactDescriptionRequest" message="tns:findAdsByExactDescription" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactDescriptionResponse" message="tns:findAdsByExactDescriptionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactDescription/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactDescription/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactDescription/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsByExactShortDescription">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactShortDescriptionRequest" message="tns:findAdsByExactShortDescription" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactShortDescriptionResponse" message="tns:findAdsByExactShortDescriptionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactShortDescription/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactShortDescription/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByExactShortDescription/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsByApproximateDescription">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateDescriptionRequest" message="tns:findAdsByApproximateDescription" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateDescriptionResponse" message="tns:findAdsByApproximateDescriptionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateDescription/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateDescription/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateDescription/Fault/RollbackFailureException" />
</operation>
<operation name="findAdsByApproximateShortDescription">
<input wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateShortDescriptionRequest" message="tns:findAdsByApproximateShortDescription" />
<output wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateShortDescriptionResponse" message="tns:findAdsByApproximateShortDescriptionResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateShortDescription/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateShortDescription/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdsServices/findAdsByApproximateShortDescription/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="AdsServicesPortBinding" type="tns:AdsServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="findAdsById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsByAdvertiser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsByService">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="addAds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal" />
</fault>
</operation>
<operation name="updateAds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
</operation>
<operation name="deleteAds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
</operation>
<operation name="findAdsByStartDate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsByEndDate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsInBetween">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="listAllAds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="countAds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsByExactDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsByExactShortDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsByApproximateDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdsByApproximateShortDescription">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="AdsServices">
<port name="AdsServicesPort" binding="tns:AdsServicesPortBinding">
<soap:address location="http://localhost:8080/AdsServices/AdsServices" />
</port>
</service>
</definitions>