Client/org.hyperpath.client.services/xml-resources/web-service-references/AdsServices/wsdl/localhost_8080/AdsServices/AdsServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.hyperpath.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.hyperpath.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException" />

<xs:element name="PreexistingEntityException" type="tns:PreexistingEntityException" />

<xs:element name="RollbackFailureException" type="tns:RollbackFailureException" />

<xs:element name="addAds" type="tns:addAds" />

<xs:element name="addAdsResponse" type="tns:addAdsResponse" />

<xs:element name="ads" type="tns:ads" />

<xs:element name="advertisers" type="tns:advertisers" />

<xs:element name="categories" type="tns:categories" />

<xs:element name="countAds" type="tns:countAds" />

<xs:element name="countAdsResponse" type="tns:countAdsResponse" />

<xs:element name="deleteAds" type="tns:deleteAds" />

<xs:element name="deleteAdsResponse" type="tns:deleteAdsResponse" />

<xs:element name="entities" type="tns:entities" />

<xs:element name="findAdsByAdvertiser" type="tns:findAdsByAdvertiser" />

<xs:element name="findAdsByAdvertiserResponse" type="tns:findAdsByAdvertiserResponse" />

<xs:element name="findAdsByApproximateDescription" type="tns:findAdsByApproximateDescription" />

<xs:element name="findAdsByApproximateDescriptionResponse" type="tns:findAdsByApproximateDescriptionResponse" />

<xs:element name="findAdsByApproximateShortDescription" type="tns:findAdsByApproximateShortDescription" />

<xs:element name="findAdsByApproximateShortDescriptionResponse" type="tns:findAdsByApproximateShortDescriptionResponse" />

<xs:element name="findAdsByEndDate" type="tns:findAdsByEndDate" />

<xs:element name="findAdsByEndDateResponse" type="tns:findAdsByEndDateResponse" />

<xs:element name="findAdsByExactDescription" type="tns:findAdsByExactDescription" />

<xs:element name="findAdsByExactDescriptionResponse" type="tns:findAdsByExactDescriptionResponse" />

<xs:element name="findAdsByExactShortDescription" type="tns:findAdsByExactShortDescription" />

<xs:element name="findAdsByExactShortDescriptionResponse" type="tns:findAdsByExactShortDescriptionResponse" />

<xs:element name="findAdsById" type="tns:findAdsById" />

<xs:element name="findAdsByIdResponse" type="tns:findAdsByIdResponse" />

<xs:element name="findAdsByService" type="tns:findAdsByService" />

<xs:element name="findAdsByServiceResponse" type="tns:findAdsByServiceResponse" />

<xs:element name="findAdsByStartDate" type="tns:findAdsByStartDate" />

<xs:element name="findAdsByStartDateResponse" type="tns:findAdsByStartDateResponse" />

<xs:element name="findAdsInBetween" type="tns:findAdsInBetween" />

<xs:element name="findAdsInBetweenResponse" type="tns:findAdsInBetweenResponse" />

<xs:element name="gpslocation" type="tns:gpslocation" />

<xs:element name="listAllAds" type="tns:listAllAds" />

<xs:element name="listAllAdsResponse" type="tns:listAllAdsResponse" />

<xs:element name="openingHours" type="tns:openingHours" />

<xs:element name="services" type="tns:services" />

<xs:element name="updateAds" type="tns:updateAds" />

<xs:element name="updateAdsResponse" type="tns:updateAdsResponse" />

<xs:complexType name="findAdsByExactDescription">
<xs:sequence>
<xs:element name="adsDescription" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByExactDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ads">
<xs:sequence>
<xs:element name="advertisersId" type="tns:advertisers" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="shortDescription" type="xs:string" minOccurs="0" />
<xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="advertisers">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entities">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RollbackFailureException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByExactShortDescription">
<xs:sequence>
<xs:element name="adsDescription" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByExactShortDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByApproximateDescription">
<xs:sequence>
<xs:element name="adsDescription" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByApproximateDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByEndDate">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByEndDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAds">
<xs:sequence>
<xs:element name="ads" type="tns:ads" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAdsResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="PreexistingEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="countAds">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countAdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listAllAds">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listAllAdsResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByStartDate">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByStartDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsInBetween">
<xs:sequence>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsInBetweenResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAds">
<xs:sequence>
<xs:element name="ads" type="tns:ads" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAdsResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findAdsByApproximateShortDescription">
<xs:sequence>
<xs:element name="adsDescription" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByApproximateShortDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAds">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAdsResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findAdsById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByAdvertiser">
<xs:sequence>
<xs:element name="advertiser" type="tns:advertisers" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByAdvertiserResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByService">
<xs:sequence>
<xs:element name="service" type="tns:services" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="services">
<xs:sequence>
<xs:element name="adsId" type="tns:ads" minOccurs="0" />
<xs:element name="category" type="tns:categories" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="gpslocationId" type="tns:gpslocation" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="openingHoursid" type="tns:openingHours" minOccurs="0" />
<xs:element name="rating" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categories">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gpslocation">
<xs:sequence>
<xs:element name="altitude" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="latitude" type="xs:string" minOccurs="0" />
<xs:element name="longitude" type="xs:string" minOccurs="0" />
<xs:element name="time" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="openingHours">
<xs:sequence>
<xs:element name="closeTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="days" type="xs:int" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="openTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdsByServiceResponse">
<xs:sequence>
<xs:element name="return" type="tns:ads" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>