Client/org.hyperpath.client.services/xml-resources/web-service-references/AdvertisersServices/wsdl/localhost_8080/AdvertisersServices/AdvertisersServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="AdvertisersServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/AdvertisersServices/AdvertisersServices?xsd=1" />
</xsd:schema>
</types>
<message name="addAdvertizer">
<part name="parameters" element="tns:addAdvertizer" />
</message>
<message name="addAdvertizerResponse">
<part name="parameters" element="tns:addAdvertizerResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="findAdvertisersByAddress">
<part name="parameters" element="tns:findAdvertisersByAddress" />
</message>
<message name="findAdvertisersByAddressResponse">
<part name="parameters" element="tns:findAdvertisersByAddressResponse" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="findAdvertisersByPhone">
<part name="parameters" element="tns:findAdvertisersByPhone" />
</message>
<message name="findAdvertisersByPhoneResponse">
<part name="parameters" element="tns:findAdvertisersByPhoneResponse" />
</message>
<message name="findAdvertisersByFax">
<part name="parameters" element="tns:findAdvertisersByFax" />
</message>
<message name="findAdvertisersByFaxResponse">
<part name="parameters" element="tns:findAdvertisersByFaxResponse" />
</message>
<message name="findAdvertisersByMail">
<part name="parameters" element="tns:findAdvertisersByMail" />
</message>
<message name="findAdvertisersByMailResponse">
<part name="parameters" element="tns:findAdvertisersByMailResponse" />
</message>
<message name="updateAdvertiser">
<part name="parameters" element="tns:updateAdvertiser" />
</message>
<message name="updateAdvertiserResponse">
<part name="parameters" element="tns:updateAdvertiserResponse" />
</message>
<message name="deleteAdvertiser">
<part name="parameters" element="tns:deleteAdvertiser" />
</message>
<message name="deleteAdvertiserResponse">
<part name="parameters" element="tns:deleteAdvertiserResponse" />
</message>
<message name="findAdvertiserByAd">
<part name="parameters" element="tns:findAdvertiserByAd" />
</message>
<message name="findAdvertiserByAdResponse">
<part name="parameters" element="tns:findAdvertiserByAdResponse" />
</message>
<portType name="AdvertisersServices">
<operation name="addAdvertizer">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/addAdvertizerRequest" message="tns:addAdvertizer" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/addAdvertizerResponse" message="tns:addAdvertizerResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/addAdvertizer/Fault/Exception" />
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/addAdvertizer/Fault/PreexistingEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/addAdvertizer/Fault/RollbackFailureException" />
</operation>
<operation name="findAdvertisersByAddress">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByAddressRequest" message="tns:findAdvertisersByAddress" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByAddressResponse" message="tns:findAdvertisersByAddressResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByAddress/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByAddress/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByAddress/Fault/RollbackFailureException" />
</operation>
<operation name="findAdvertisersByPhone">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByPhoneRequest" message="tns:findAdvertisersByPhone" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByPhoneResponse" message="tns:findAdvertisersByPhoneResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByPhone/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByPhone/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByPhone/Fault/RollbackFailureException" />
</operation>
<operation name="findAdvertisersByFax">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByFaxRequest" message="tns:findAdvertisersByFax" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByFaxResponse" message="tns:findAdvertisersByFaxResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByFax/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByFax/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByFax/Fault/RollbackFailureException" />
</operation>
<operation name="findAdvertisersByMail">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByMailRequest" message="tns:findAdvertisersByMail" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByMailResponse" message="tns:findAdvertisersByMailResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByMail/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByMail/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertisersByMail/Fault/RollbackFailureException" />
</operation>
<operation name="updateAdvertiser">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/updateAdvertiserRequest" message="tns:updateAdvertiser" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/updateAdvertiserResponse" message="tns:updateAdvertiserResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/updateAdvertiser/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/updateAdvertiser/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/updateAdvertiser/Fault/RollbackFailureException" />
</operation>
<operation name="deleteAdvertiser">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/deleteAdvertiserRequest" message="tns:deleteAdvertiser" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/deleteAdvertiserResponse" message="tns:deleteAdvertiserResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/deleteAdvertiser/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/deleteAdvertiser/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/deleteAdvertiser/Fault/RollbackFailureException" />
</operation>
<operation name="findAdvertiserByAd">
<input wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertiserByAdRequest" message="tns:findAdvertiserByAd" />
<output wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertiserByAdResponse" message="tns:findAdvertiserByAdResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertiserByAd/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertiserByAd/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/AdvertisersServices/findAdvertiserByAd/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="AdvertisersServicesPortBinding" type="tns:AdvertisersServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="addAdvertizer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdvertisersByAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdvertisersByPhone">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdvertisersByFax">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdvertisersByMail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updateAdvertiser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deleteAdvertiser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAdvertiserByAd">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="AdvertisersServices">
<port name="AdvertisersServicesPort" binding="tns:AdvertisersServicesPortBinding">
<soap:address location="http://localhost:8080/AdvertisersServices/AdvertisersServices" />
</port>
</service>
</definitions>