Client/org.hyperpath.client.services.lib/META-INF/wsdl/localhost_8080/PhonesServices/PhonesServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="PhonesServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/PhonesServices/PhonesServices?xsd=1" />
</xsd:schema>
</types>
<message name="listAllPhones">
<part name="parameters" element="tns:listAllPhones" />
</message>
<message name="listAllPhonesResponse">
<part name="parameters" element="tns:listAllPhonesResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="addPhones">
<part name="parameters" element="tns:addPhones" />
</message>
<message name="addPhonesResponse">
<part name="parameters" element="tns:addPhonesResponse" />
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException" />
</message>
<message name="updatePhones">
<part name="parameters" element="tns:updatePhones" />
</message>
<message name="updatePhonesResponse">
<part name="parameters" element="tns:updatePhonesResponse" />
</message>
<message name="deletePhones">
<part name="parameters" element="tns:deletePhones" />
</message>
<message name="deletePhonesResponse">
<part name="parameters" element="tns:deletePhonesResponse" />
</message>
<message name="findExactPhones">
<part name="parameters" element="tns:findExactPhones" />
</message>
<message name="findExactPhonesResponse">
<part name="parameters" element="tns:findExactPhonesResponse" />
</message>
<message name="findAppoximatePhones">
<part name="parameters" element="tns:findAppoximatePhones" />
</message>
<message name="findAppoximatePhonesResponse">
<part name="parameters" element="tns:findAppoximatePhonesResponse" />
</message>
<message name="countPhones">
<part name="parameters" element="tns:countPhones" />
</message>
<message name="countPhonesResponse">
<part name="parameters" element="tns:countPhonesResponse" />
</message>
<portType name="PhonesServices">
<operation name="listAllPhones">
<input wsam:Action="http://services.hyperpath.org/PhonesServices/listAllPhonesRequest" message="tns:listAllPhones" />
<output wsam:Action="http://services.hyperpath.org/PhonesServices/listAllPhonesResponse" message="tns:listAllPhonesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/PhonesServices/listAllPhones/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/PhonesServices/listAllPhones/Fault/RollbackFailureException" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/PhonesServices/listAllPhones/Fault/NonexistentEntityException" />
</operation>
<operation name="addPhones">
<input wsam:Action="http://services.hyperpath.org/PhonesServices/addPhonesRequest" message="tns:addPhones" />
<output wsam:Action="http://services.hyperpath.org/PhonesServices/addPhonesResponse" message="tns:addPhonesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/PhonesServices/addPhones/Fault/Exception" />
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://services.hyperpath.org/PhonesServices/addPhones/Fault/PreexistingEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/PhonesServices/addPhones/Fault/RollbackFailureException" />
</operation>
<operation name="updatePhones">
<input wsam:Action="http://services.hyperpath.org/PhonesServices/updatePhonesRequest" message="tns:updatePhones" />
<output wsam:Action="http://services.hyperpath.org/PhonesServices/updatePhonesResponse" message="tns:updatePhonesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/PhonesServices/updatePhones/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/PhonesServices/updatePhones/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/PhonesServices/updatePhones/Fault/RollbackFailureException" />
</operation>
<operation name="deletePhones">
<input wsam:Action="http://services.hyperpath.org/PhonesServices/deletePhonesRequest" message="tns:deletePhones" />
<output wsam:Action="http://services.hyperpath.org/PhonesServices/deletePhonesResponse" message="tns:deletePhonesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/PhonesServices/deletePhones/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/PhonesServices/deletePhones/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/PhonesServices/deletePhones/Fault/RollbackFailureException" />
</operation>
<operation name="findExactPhones">
<input wsam:Action="http://services.hyperpath.org/PhonesServices/findExactPhonesRequest" message="tns:findExactPhones" />
<output wsam:Action="http://services.hyperpath.org/PhonesServices/findExactPhonesResponse" message="tns:findExactPhonesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/PhonesServices/findExactPhones/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/PhonesServices/findExactPhones/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/PhonesServices/findExactPhones/Fault/RollbackFailureException" />
</operation>
<operation name="findAppoximatePhones">
<input wsam:Action="http://services.hyperpath.org/PhonesServices/findAppoximatePhonesRequest" message="tns:findAppoximatePhones" />
<output wsam:Action="http://services.hyperpath.org/PhonesServices/findAppoximatePhonesResponse" message="tns:findAppoximatePhonesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/PhonesServices/findAppoximatePhones/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/PhonesServices/findAppoximatePhones/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/PhonesServices/findAppoximatePhones/Fault/RollbackFailureException" />
</operation>
<operation name="countPhones">
<input wsam:Action="http://services.hyperpath.org/PhonesServices/countPhonesRequest" message="tns:countPhones" />
<output wsam:Action="http://services.hyperpath.org/PhonesServices/countPhonesResponse" message="tns:countPhonesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/PhonesServices/countPhones/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/PhonesServices/countPhones/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="PhonesServicesPortBinding" type="tns:PhonesServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listAllPhones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
</operation>
<operation name="addPhones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updatePhones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deletePhones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findExactPhones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAppoximatePhones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="countPhones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="PhonesServices">
<port name="PhonesServicesPort" binding="tns:PhonesServicesPortBinding">
<soap:address location="http://localhost:8080/PhonesServices/PhonesServices" />
</port>
</service>
</definitions>