Client/org.hyperpath.client.services.lib/META-INF/wsdl/localhost_8080/ClientsServices/ClientsServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.hyperpath.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.hyperpath.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException" />

<xs:element name="RollbackFailureException" type="tns:RollbackFailureException" />

<xs:element name="address" type="tns:address" />

<xs:element name="clients" type="tns:clients" />

<xs:element name="countCategories" type="tns:countCategories" />

<xs:element name="countCategoriesResponse" type="tns:countCategoriesResponse" />

<xs:element name="entities" type="tns:entities" />

<xs:element name="findClientsByAddress" type="tns:findClientsByAddress" />

<xs:element name="findClientsByAddressResponse" type="tns:findClientsByAddressResponse" />

<xs:element name="findClientsByAge" type="tns:findClientsByAge" />

<xs:element name="findClientsByAgeResponse" type="tns:findClientsByAgeResponse" />

<xs:element name="findClientsByBirthDate" type="tns:findClientsByBirthDate" />

<xs:element name="findClientsByBirthDateResponse" type="tns:findClientsByBirthDateResponse" />

<xs:element name="findClientsByFax" type="tns:findClientsByFax" />

<xs:element name="findClientsByFaxResponse" type="tns:findClientsByFaxResponse" />

<xs:element name="findClientsByLastName" type="tns:findClientsByLastName" />

<xs:element name="findClientsByLastNameResponse" type="tns:findClientsByLastNameResponse" />

<xs:element name="findClientsByLogin" type="tns:findClientsByLogin" />

<xs:element name="findClientsByLoginResponse" type="tns:findClientsByLoginResponse" />

<xs:element name="findClientsByMail" type="tns:findClientsByMail" />

<xs:element name="findClientsByMailResponse" type="tns:findClientsByMailResponse" />

<xs:element name="findClientsByName" type="tns:findClientsByName" />

<xs:element name="findClientsByNameResponse" type="tns:findClientsByNameResponse" />

<xs:element name="findClientsByPhone" type="tns:findClientsByPhone" />

<xs:element name="findClientsByPhoneResponse" type="tns:findClientsByPhoneResponse" />

<xs:complexType name="findClientsByLastName">
<xs:sequence>
<xs:element name="clientLastName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByLastNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="clients">
<xs:sequence>
<xs:element name="birthdate" type="xs:dateTime" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="gender" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entities">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="RollbackFailureException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByMail">
<xs:sequence>
<xs:element name="mail" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByMailResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByAge">
<xs:sequence>
<xs:element name="clientAge" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByAgeResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByName">
<xs:sequence>
<xs:element name="clientName" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByLogin">
<xs:sequence>
<xs:element name="clientLogin" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="countCategories">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countCategoriesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByBirthDate">
<xs:sequence>
<xs:element name="clientBirthDate" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByBirthDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByPhone">
<xs:sequence>
<xs:element name="phone" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByPhoneResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="country" type="xs:string" minOccurs="0" />
<xs:element name="department" type="xs:string" minOccurs="0" />
<xs:element name="ext" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="street" type="xs:string" minOccurs="0" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByFax">
<xs:sequence>
<xs:element name="fax" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByFaxResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>