Client/org.hyperpath.client.services/src/META-INF/wsdl/localhost_8080/EmailsServices/EmailsServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="EmailsServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/EmailsServices/EmailsServices?xsd=1" />
</xsd:schema>
</types>
<message name="listAllEmails">
<part name="parameters" element="tns:listAllEmails" />
</message>
<message name="listAllEmailsResponse">
<part name="parameters" element="tns:listAllEmailsResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="addEmail">
<part name="parameters" element="tns:addEmail" />
</message>
<message name="addEmailResponse">
<part name="parameters" element="tns:addEmailResponse" />
</message>
<message name="PreexistingEntityException">
<part name="fault" element="tns:PreexistingEntityException" />
</message>
<message name="updateEmail">
<part name="parameters" element="tns:updateEmail" />
</message>
<message name="updateEmailResponse">
<part name="parameters" element="tns:updateEmailResponse" />
</message>
<message name="deleteEmail">
<part name="parameters" element="tns:deleteEmail" />
</message>
<message name="deleteEmailResponse">
<part name="parameters" element="tns:deleteEmailResponse" />
</message>
<message name="findExactEmails">
<part name="parameters" element="tns:findExactEmails" />
</message>
<message name="findExactEmailsResponse">
<part name="parameters" element="tns:findExactEmailsResponse" />
</message>
<message name="findAppoximateEmail">
<part name="parameters" element="tns:findAppoximateEmail" />
</message>
<message name="findAppoximateEmailResponse">
<part name="parameters" element="tns:findAppoximateEmailResponse" />
</message>
<message name="countEmails">
<part name="parameters" element="tns:countEmails" />
</message>
<message name="countEmailsResponse">
<part name="parameters" element="tns:countEmailsResponse" />
</message>
<portType name="EmailsServices">
<operation name="listAllEmails">
<input wsam:Action="http://services.hyperpath.org/EmailsServices/listAllEmailsRequest" message="tns:listAllEmails" />
<output wsam:Action="http://services.hyperpath.org/EmailsServices/listAllEmailsResponse" message="tns:listAllEmailsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/EmailsServices/listAllEmails/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/EmailsServices/listAllEmails/Fault/RollbackFailureException" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/EmailsServices/listAllEmails/Fault/NonexistentEntityException" />
</operation>
<operation name="addEmail">
<input wsam:Action="http://services.hyperpath.org/EmailsServices/addEmailRequest" message="tns:addEmail" />
<output wsam:Action="http://services.hyperpath.org/EmailsServices/addEmailResponse" message="tns:addEmailResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/EmailsServices/addEmail/Fault/Exception" />
<fault message="tns:PreexistingEntityException" name="PreexistingEntityException" wsam:Action="http://services.hyperpath.org/EmailsServices/addEmail/Fault/PreexistingEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/EmailsServices/addEmail/Fault/RollbackFailureException" />
</operation>
<operation name="updateEmail">
<input wsam:Action="http://services.hyperpath.org/EmailsServices/updateEmailRequest" message="tns:updateEmail" />
<output wsam:Action="http://services.hyperpath.org/EmailsServices/updateEmailResponse" message="tns:updateEmailResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/EmailsServices/updateEmail/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/EmailsServices/updateEmail/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/EmailsServices/updateEmail/Fault/RollbackFailureException" />
</operation>
<operation name="deleteEmail">
<input wsam:Action="http://services.hyperpath.org/EmailsServices/deleteEmailRequest" message="tns:deleteEmail" />
<output wsam:Action="http://services.hyperpath.org/EmailsServices/deleteEmailResponse" message="tns:deleteEmailResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/EmailsServices/deleteEmail/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/EmailsServices/deleteEmail/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/EmailsServices/deleteEmail/Fault/RollbackFailureException" />
</operation>
<operation name="findExactEmails">
<input wsam:Action="http://services.hyperpath.org/EmailsServices/findExactEmailsRequest" message="tns:findExactEmails" />
<output wsam:Action="http://services.hyperpath.org/EmailsServices/findExactEmailsResponse" message="tns:findExactEmailsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/EmailsServices/findExactEmails/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/EmailsServices/findExactEmails/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/EmailsServices/findExactEmails/Fault/RollbackFailureException" />
</operation>
<operation name="findAppoximateEmail">
<input wsam:Action="http://services.hyperpath.org/EmailsServices/findAppoximateEmailRequest" message="tns:findAppoximateEmail" />
<output wsam:Action="http://services.hyperpath.org/EmailsServices/findAppoximateEmailResponse" message="tns:findAppoximateEmailResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/EmailsServices/findAppoximateEmail/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/EmailsServices/findAppoximateEmail/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/EmailsServices/findAppoximateEmail/Fault/RollbackFailureException" />
</operation>
<operation name="countEmails">
<input wsam:Action="http://services.hyperpath.org/EmailsServices/countEmailsRequest" message="tns:countEmails" />
<output wsam:Action="http://services.hyperpath.org/EmailsServices/countEmailsResponse" message="tns:countEmailsResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/EmailsServices/countEmails/Fault/Exception" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/EmailsServices/countEmails/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="EmailsServicesPortBinding" type="tns:EmailsServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listAllEmails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
</operation>
<operation name="addEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="PreexistingEntityException">
<soap:fault name="PreexistingEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="updateEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="deleteEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findExactEmails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findAppoximateEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="countEmails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="EmailsServices">
<port name="EmailsServicesPort" binding="tns:EmailsServicesPortBinding">
<soap:address location="http://localhost:8080/EmailsServices/EmailsServices" />
</port>
</service>
</definitions>