Client/org.hyperpath.client.services/src/META-INF/wsdl/localhost_8080/AddressesServices/AddressesServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://services.hyperpath.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.hyperpath.org/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="NonexistentEntityException" type="tns:NonexistentEntityException" />

<xs:element name="PreexistingEntityException" type="tns:PreexistingEntityException" />

<xs:element name="RollbackFailureException" type="tns:RollbackFailureException" />

<xs:element name="addAddress" type="tns:addAddress" />

<xs:element name="addAddressResponse" type="tns:addAddressResponse" />

<xs:element name="address" type="tns:address" />

<xs:element name="ads" type="tns:ads" />

<xs:element name="advertisers" type="tns:advertisers" />

<xs:element name="categories" type="tns:categories" />

<xs:element name="clients" type="tns:clients" />

<xs:element name="deleteAddress" type="tns:deleteAddress" />

<xs:element name="deleteAddressResponse" type="tns:deleteAddressResponse" />

<xs:element name="entities" type="tns:entities" />

<xs:element name="findAddressByLocation" type="tns:findAddressByLocation" />

<xs:element name="findAddressByLocationResponse" type="tns:findAddressByLocationResponse" />

<xs:element name="findAdvertizersByAddress" type="tns:findAdvertizersByAddress" />

<xs:element name="findAdvertizersByAddressResponse" type="tns:findAdvertizersByAddressResponse" />

<xs:element name="findApproximateAddressesByCategory" type="tns:findApproximateAddressesByCategory" />

<xs:element name="findApproximateAddressesByCategoryResponse" type="tns:findApproximateAddressesByCategoryResponse" />

<xs:element name="findClientsByAddress" type="tns:findClientsByAddress" />

<xs:element name="findClientsByAddressResponse" type="tns:findClientsByAddressResponse" />

<xs:element name="findServicesByAddress" type="tns:findServicesByAddress" />

<xs:element name="findServicesByAddressResponse" type="tns:findServicesByAddressResponse" />

<xs:element name="gpslocation" type="tns:gpslocation" />

<xs:element name="listAllAddress" type="tns:listAllAddress" />

<xs:element name="listAllAddressResponse" type="tns:listAllAddressResponse" />

<xs:element name="openingHours" type="tns:openingHours" />

<xs:element name="services" type="tns:services" />

<xs:element name="updateAddress" type="tns:updateAddress" />

<xs:element name="updateAddressResponse" type="tns:updateAddressResponse" />

<xs:complexType name="findClientsByAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="address">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="country" type="xs:string" minOccurs="0" />
<xs:element name="department" type="xs:string" minOccurs="0" />
<xs:element name="ext" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="street" type="xs:string" minOccurs="0" />
<xs:element name="zip" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findClientsByAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:clients" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="clients">
<xs:sequence>
<xs:element name="birthdate" type="xs:dateTime" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="gender" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="lastName" type="xs:string" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="entities">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="NonexistentEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertizersByAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAdvertizersByAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:advertisers" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="advertisers">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAddressResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="RollbackFailureException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAddressByLocation">
<xs:sequence>
<xs:element name="category" type="tns:categories" minOccurs="0" />
<xs:element name="location" type="xs:string" minOccurs="0" />
<xs:element name="range" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categories">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAddressByLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findApproximateAddressesByCategory">
<xs:sequence>
<xs:element name="category" type="tns:categories" minOccurs="0" />
<xs:element name="address" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findApproximateAddressesByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAddressResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="PreexistingEntityException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findServicesByAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findServicesByAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:services" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="services">
<xs:sequence>
<xs:element name="adsId" type="tns:ads" minOccurs="0" />
<xs:element name="category" type="tns:categories" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="entitiesId" type="tns:entities" minOccurs="0" />
<xs:element name="gpslocationId" type="tns:gpslocation" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="label" type="xs:string" minOccurs="0" />
<xs:element name="openingHoursid" type="tns:openingHours" minOccurs="0" />
<xs:element name="rating" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ads">
<xs:sequence>
<xs:element name="advertisersId" type="tns:advertisers" minOccurs="0" />
<xs:element name="description" type="xs:string" minOccurs="0" />
<xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="shortDescription" type="xs:string" minOccurs="0" />
<xs:element name="startDate" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gpslocation">
<xs:sequence>
<xs:element name="altitude" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="latitude" type="xs:string" minOccurs="0" />
<xs:element name="longitude" type="xs:string" minOccurs="0" />
<xs:element name="time" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="openingHours">
<xs:sequence>
<xs:element name="closeTime" type="xs:dateTime" minOccurs="0" />
<xs:element name="days" type="xs:int" />
<xs:element name="id" type="xs:int" minOccurs="0" />
<xs:element name="openTime" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAddress">
<xs:sequence>
<xs:element name="address" type="tns:address" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAddressResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listAllAddress">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listAllAddressResponse">
<xs:sequence>
<xs:element name="return" type="tns:address" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>