Client/org.hyperpath.client.services/xml-resources/web-service-references/ClientsServices/wsdl/localhost_8080/ClientsServices/ClientsServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.hyperpath.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.hyperpath.org/" name="ClientsServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.hyperpath.org/" schemaLocation="http://localhost:8080/ClientsServices/ClientsServices?xsd=1" />
</xsd:schema>
</types>
<message name="findClientsByAddress">
<part name="parameters" element="tns:findClientsByAddress" />
</message>
<message name="findClientsByAddressResponse">
<part name="parameters" element="tns:findClientsByAddressResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="NonexistentEntityException">
<part name="fault" element="tns:NonexistentEntityException" />
</message>
<message name="RollbackFailureException">
<part name="fault" element="tns:RollbackFailureException" />
</message>
<message name="findClientsByPhone">
<part name="parameters" element="tns:findClientsByPhone" />
</message>
<message name="findClientsByPhoneResponse">
<part name="parameters" element="tns:findClientsByPhoneResponse" />
</message>
<message name="findClientsByFax">
<part name="parameters" element="tns:findClientsByFax" />
</message>
<message name="findClientsByFaxResponse">
<part name="parameters" element="tns:findClientsByFaxResponse" />
</message>
<message name="findClientsByMail">
<part name="parameters" element="tns:findClientsByMail" />
</message>
<message name="findClientsByMailResponse">
<part name="parameters" element="tns:findClientsByMailResponse" />
</message>
<message name="findClientsByName">
<part name="parameters" element="tns:findClientsByName" />
</message>
<message name="findClientsByNameResponse">
<part name="parameters" element="tns:findClientsByNameResponse" />
</message>
<message name="findClientsByLastName">
<part name="parameters" element="tns:findClientsByLastName" />
</message>
<message name="findClientsByLastNameResponse">
<part name="parameters" element="tns:findClientsByLastNameResponse" />
</message>
<message name="findClientsByLogin">
<part name="parameters" element="tns:findClientsByLogin" />
</message>
<message name="findClientsByLoginResponse">
<part name="parameters" element="tns:findClientsByLoginResponse" />
</message>
<message name="findClientsByBirthDate">
<part name="parameters" element="tns:findClientsByBirthDate" />
</message>
<message name="findClientsByBirthDateResponse">
<part name="parameters" element="tns:findClientsByBirthDateResponse" />
</message>
<message name="findClientsByAge">
<part name="parameters" element="tns:findClientsByAge" />
</message>
<message name="findClientsByAgeResponse">
<part name="parameters" element="tns:findClientsByAgeResponse" />
</message>
<message name="countCategories">
<part name="parameters" element="tns:countCategories" />
</message>
<message name="countCategoriesResponse">
<part name="parameters" element="tns:countCategoriesResponse" />
</message>
<portType name="ClientsServices">
<operation name="findClientsByAddress">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAddressRequest" message="tns:findClientsByAddress" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAddressResponse" message="tns:findClientsByAddressResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAddress/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAddress/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAddress/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByPhone">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByPhoneRequest" message="tns:findClientsByPhone" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByPhoneResponse" message="tns:findClientsByPhoneResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByPhone/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByPhone/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByPhone/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByFax">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByFaxRequest" message="tns:findClientsByFax" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByFaxResponse" message="tns:findClientsByFaxResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByFax/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByFax/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByFax/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByMail">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByMailRequest" message="tns:findClientsByMail" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByMailResponse" message="tns:findClientsByMailResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByMail/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByMail/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByMail/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByName">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByNameRequest" message="tns:findClientsByName" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByNameResponse" message="tns:findClientsByNameResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByName/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByName/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByName/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByLastName">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLastNameRequest" message="tns:findClientsByLastName" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLastNameResponse" message="tns:findClientsByLastNameResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLastName/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLastName/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLastName/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByLogin">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLoginRequest" message="tns:findClientsByLogin" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLoginResponse" message="tns:findClientsByLoginResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLogin/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLogin/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByLogin/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByBirthDate">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByBirthDateRequest" message="tns:findClientsByBirthDate" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByBirthDateResponse" message="tns:findClientsByBirthDateResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByBirthDate/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByBirthDate/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByBirthDate/Fault/RollbackFailureException" />
</operation>
<operation name="findClientsByAge">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAgeRequest" message="tns:findClientsByAge" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAgeResponse" message="tns:findClientsByAgeResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAge/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAge/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/findClientsByAge/Fault/RollbackFailureException" />
</operation>
<operation name="countCategories">
<input wsam:Action="http://services.hyperpath.org/ClientsServices/countCategoriesRequest" message="tns:countCategories" />
<output wsam:Action="http://services.hyperpath.org/ClientsServices/countCategoriesResponse" message="tns:countCategoriesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.hyperpath.org/ClientsServices/countCategories/Fault/Exception" />
<fault message="tns:NonexistentEntityException" name="NonexistentEntityException" wsam:Action="http://services.hyperpath.org/ClientsServices/countCategories/Fault/NonexistentEntityException" />
<fault message="tns:RollbackFailureException" name="RollbackFailureException" wsam:Action="http://services.hyperpath.org/ClientsServices/countCategories/Fault/RollbackFailureException" />
</operation>
</portType>
<binding name="ClientsServicesPortBinding" type="tns:ClientsServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="findClientsByAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByPhone">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByFax">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByMail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByLastName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByBirthDate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="findClientsByAge">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
<operation name="countCategories">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
<fault name="NonexistentEntityException">
<soap:fault name="NonexistentEntityException" use="literal" />
</fault>
<fault name="RollbackFailureException">
<soap:fault name="RollbackFailureException" use="literal" />
</fault>
</operation>
</binding>
<service name="ClientsServices">
<port name="ClientsServicesPort" binding="tns:ClientsServicesPortBinding">
<soap:address location="http://localhost:8080/ClientsServices/ClientsServices" />
</port>
</service>
</definitions>